<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listagem | contas</title>
</head>
<body>
    <h1>Listagem | contas</h1>
    <ul>
    {% for transacao in transacoes%}
        <li> <a href="{% url 'update_transacao' transacao.id %}">
            <b>transação:</b> {{transacao.descriacao}} - {{transacao.data_str}} - {{transacao.valo_rs}} | Categoria: {{transacao.categoria}}
            Alterar transação</a></li>   
            <a href="{% url 'delete_transacao' transacao.id %}">Excluir transação</a>
            <hr>
    {% endfor %}
    </ul>
    <a href="{% url 'nova_transacao' %}">Criar nova transação</a>
  
   
</body>
</html>